/* 
====== 
Variables 
======
*/
:root {
  /* Major color theme selected for this project */
  --clr-Primary: #c59d5f;
  --clr-Primary-dark: #9e7e4c;
  --clr-Primary-light: #e8d8bf;
  --clr-primary-grade-1: #f3ebdf;

  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-10: hsl(210, 36%, 96%);

  --mainWhite: #fff;
  --offWhite: #f7f7f7;

  --mainBackground: #f1f5f8;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;

  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.1rem;
  --lightShadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.8);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --mainBorderRadius: 0.25rem;
  --smallWidth: 85vw;
  --maxWidth: 30rem;
  --max-width: 1170px;
  --fullWidth: 1170px;
  --spacing: 0.1rem;
}
/* 
====== 
Global Styles 
======
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
p {
  margin-bottom: 1.25rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--clr-Primary);
}
img {
  width: 100%;
  display: block;
}

/* 
====== 
Navbar
======
*/
.navbar {
  background: var(--mainWhite);
  height: 5rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--clr-Primary);
  box-shadow: var(--lightShadow);
}
.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links a {
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
  margin-right: 0.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  transition: var(--mainTransition);
}
.nav-links a:hover {
  color: var(--clr-grey-1);
}
.logo {
  color: var(--clr-Primary);
}

/* 
====== 
Cocktails List 
======
*/
/* 
.section {
  padding: 5rem 0;
}




.cocktails-center {
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
  display: grid;
  row-gap: 2rem;
  column-gap: 2rem;
  /* align-items: start; */
/*}
@media screen and (min-width: 576px) {
  .cocktails-center {
    grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
  }
} */
/* .section {
  width: 90vw;
  margin: 0 auto;
  /* max-width: var(--max-width); */
/* background-color: var(--primaryDarkColor);
} */
.section {
  width: 90vw;
  margin: 0 auto;
  /* max-width: var(--max-width); */
  padding: 3rem 0;
}
.cocktail-section {
  border-radius: var(--mainBorderRadius);
  box-shadow: var(--lightShadow);
}
.section-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
}

@media screen and (min-width: 992px) {
  /* .section {
    width: 95vw;
  } */
}

/* .menu-item {
  gap: 1rem 2rem;
  max-width: 25rem;
} */
.menu-item {
  display: grid;
  grid-template-columns: 225px 1fr;
  gap: 0 1.25rem;
  width: var(--maxWidth);
}
.photo {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 2px solid var(--clr-Primary-dark);
  border-radius: var(--mainBorderRadius);
  box-shadow: var(--lightShadow);

  display: block;
}
.item-info header {
  border-bottom: 0.5px dotted var(--clr-grey-5);
}
.item-info h4 {
  margin-bottom: 0.5rem;
}
.price {
  color: var(--clr-Primary);
}
.item-text {
  margin-bottom: 0;
  padding-top: 1rem;
}

@media screen and (min-width: 1200px) {
  .section-center {
    grid-template-columns: 1fr 1fr;
  }
}

.btn-primary {
  margin-top: 1rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  background: var(--clr-Primary);
  color: var(--clr-grey-10);
  padding: 0.45rem 0.8rem;
  transition: var(--mainTransition);
  cursor: pointer;
  font-size: 1 rem;
  border-radius: var(--mainBorderRadius);
  display: inline-block;
}

.btn-primary:hover {
  background: var(--clr-Primary-light);
  color: var(--clr-grey-1);
  border: 2px solid var(--clr-Primary);
}
.btn-cocktail-detail {
  margin-left: 3rem;
}
/* 
====== 
Cocktail
======
*/

.drink {
  width: var(--smallWidth);
  max-width: var(--fullWidth);
  margin: 0 auto;
  text-align: left;
  border-radius: var(--mainBorderRadius);
  box-shadow: var(--lightShadow);
  background-color: var(--clr-primary-grade-1);
  padding-bottom: 2rem;
}

.drink p {
  font-weight: bold;
  text-transform: capitalize;
  line-height: 1.8;
}
.drink img {
  border-radius: var(--mainBorderRadius);
  border-top-left-radius: var(--mainBorderRadius);
  border-bottom-left-radius: 0px;
  border-top-right-radius: var(--mainBorderRadius);
  border-bottom-right-radius: 0px;
}

.drink span {
  margin-right: 0.5rem;
}
.drink-data {
  background: #f7e3c5;
  padding: 0.25rem 0.5rem;
  border-radius: var(--mainBorderRadius);
  color: var(--primaryColor);
}
.drink-info {
  padding-top: 2rem;
  margin-left: 2rem;
}
@media screen and (min-width: 992px) {
  .drink {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 3rem;
    align-items: center;
    padding-bottom: 0;
  }
  .drink-info {
    padding-top: 0;
    margin-left: 0;
  }

  .drink img {
    border-top-left-radius: var(--mainBorderRadius);
    border-bottom-left-radius: var(--mainBorderRadius);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

/* 
====== 
Form
======
*/
.search {
  margin: 0 auto;
  width: 90vw;
  max-width: var(--maxWidth);
  margin-top: 1rem;
  background: transparent;
  padding: 2rem 2.5rem;
}

/* .search-form {
  margin-top: 1rem;
  padding-bottom: 0;
  width: var(--smallWidth);
  margin-left: 5rem;
  max-width: var(--maxWidth);
  background: var(--clr-gold);
  padding: 2rem 2.5rem;
  text-transform: capitalize;
  border-radius: var(--mainBorderRadius);
  box-shadow: var(--lightShadow);
} */

.form-control input {
  width: 100%;
  height: 8vh;
  border: none;
  background: var(--mainWhite);
  border-radius: var(--mainBorderRadius);
  padding: 0.5rem;
  font-size: 1.1rem;
}
#name input[type='text']:focus {
  outline: none;
  border-style: none;
}

/*====== 
About
======
*/
.about-section {
  width: var(--smallWidth);
  max-width: var(--maxWidth);
  margin: 0 auto;
}
.section-title {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  text-align: center;
  margin-bottom: 3.5rem;
  margin-top: 2rem;
}
.about-section p {
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
}
/* 
====== 
Error
======
*/
.error-container {
  margin: 5rem auto;
  text-align: center;
  text-transform: capitalize;
}
